<!DOCTYPE html>
<html>
<head>
	<title>Ninja profile: {{user.first_name|title}} {{user.last_name|title}}</title>
	<link rel="stylesheet" type="text/css" href="../../static/profile.css">
</head>
<body>
	<div class="header">
	<h3>NIP(Logo)</h3>
	<a href="/home" class="main">Home</a>
	<a href="/profile/{{request.session.id}}">Profile</a>
	<a href="/logout">Logout</a>
	</div>
	<div class="left_side">
		<h3>{{user.first_name|title}} {{user.last_name|title}}</h3>
		<img src="{{user.image}}" class="main_img">
		<p>My socials:</p>
		<a href="{{user.email}}">{{user.email|title}}</a>
		<br>
		<a href="{{user.linkedin}}">linkedin</a> <br>
		<a href="{{user.github}}">{{user.github|title}}</a> <br>
		<a href="{{user.facebook}}">{{user.facebook|title}}</a> <br>
		<a href="{{user.instagram}}">{{user.instagram|title}}</a> <br>
		<a href="{{user.slack}}">Slack</a> <br>
	</div>
		<div class="strengths">
		{% if user.strengths %}
			<h3>Strengths</h3>
			<ol>
			{% for strength in user.strengths.all %}
				<li>{{strength.name}}</li>
			{% endfor %}
			</ol>
		{% endif %}
		</div>

</body>
</html>